*{
    /* background-color: black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0e0e0e;
}
main{
    width: 70%;
    height: 100vh;
    margin: auto;
    background-color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
}
.one{
    background-color: rgb(252, 173, 173);
    padding: 3em;
    height: auto;
    margin: auto;
}
.one.oneone{
    
}
.two{
    background-color: rgba(2, 29, 88, 0.89);
    padding: 3em;
    height: auto;
    margin: auto;
}
.three{
    background-color: rgb(4, 70, 4);
    padding: 3em;
    height: auto;
    margin: auto;
}
